.home {
    height: 0px;
    width: 100%;
}

.home h2 {
    line-height: 60px;
}


.home .layer {
    background-color: #20232a;
    padding: 2rem; /* Added padding for better spacing */
}

.home .layer .title {
    color: #D4AF37;
    font-weight: bold; /* Make the typed text bold */
}

.opacity-50 {
    opacity: 0.5;
    margin-top: 1rem; /* Added margin for spacing */
}

/* Optional: Additional styles for responsiveness */
@media (max-width: 768px) {
    .home h2 {
        line-height: 40px;
    }
}
