nav {
    height: 56px;
    width: 75%;
    background-color: #20232a;
}

nav ul {
    width: 100%;
}

nav ul li {
    transition: 0.2s all;
    border-bottom: 4px solid transparent ;
}

nav ul li:hover {
    border-bottom: 4px solid #D4AF37;
}



